<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    {{!-- <h3 class="text-center">📖 KHÓA HỌC CỦA TÔI</h3> --}}
    <div class="d-flex justify-content-between align-items-center mb-3">
      <a href="/courses/create" class="btn btn-success" style="font-size: 20px">
        🆕 Thêm khóa học mới
      </a>
  
      <a href="/me/trash/courses" class="btn btn-primary" style="font-size: 20px">
        🗑️ Thùng rác ({{deletedCount}})
      </a>
    </div>

    <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkAll">
        <label class="form-check-label" for="checkAll">
          Chọn tất cả
        </label>
    </div>
    
      <select class="custom-select mr-sm-2 check-select-all-options" name="action" required>
          <option value="">Chọn chức năng</option>
          <option value="delete">Xóa</option>
      </select>

      <button class="btn btn-primary btn-sm check-all-sub-btn" style="font-size: 19px" disabled>Thực hiện</button>
    </div>

    <table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>

        <th scope="col" class="align-middle">
          <div class="d-flex align-items-center">
            <span>ID</span>
            <span class="ml-1">{{{sortable '_id' _sort}}}</span>
          </div>
        </th>

        <th scope="col" class="align-middle">
          <div class="d-flex align-items-center">
            <span>Tên khóa học</span>
            <span class="ml-1">{{{sortable 'name' _sort}}}</span>
          </div>
        </th>

        <th scope="col" class="align-middle">
          <div class="d-flex align-items-center">
            <span>Trình độ</span>
            <span class="ml-1">{{{sortable 'level' _sort}}}</span>
          </div>
        </th>

        <th scope="col" class="align-middle">
          <div class="d-flex align-items-center">
            <span>Thời gian học</span>
            <span class="ml-1">{{{sortable 'totalTime' _sort}}}</span>
          </div>
        </th>

        <th scope="col" class="align-middle" colspan="4">
          <div class="d-flex align-items-center">
            <span>Thời gian tạo</span>
            <span class="ml-1">{{{sortable 'createdAt' _sort}}}</span>
          </div>
        </th>
      </tr>
    </thead>
        <tbody>
        {{#each courses}}
        <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
              </div>
            </td>
            <th scope="row">{{this._id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>                         
            <td>{{this.totalTime}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            </td>
            <td>
                <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="8" class="text-center">Chưa có khóa học nào
              <a href="/courses/create">Thêm khóa học mới</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</form>



<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa khóa học</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này không ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-Hiden delete form-}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteButton = document.getElementById('btn-delete-course');
        var deleteForm = document.forms['delete-course-form'];
        var checkboxAll = $('#checkAll');
        var courseItemCheckboxes = $('input[name="courseIds[]"]');
        var checkAllSubmitButton = $('.check-all-sub-btn');
        
        var containerForm = $('form[name="container-form"]');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
    });

        deleteButton.onclick = function() {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        // Handle "Select All" checkbox functionality
        checkboxAll.on('change', function() {
            var isChecked = $(this).is(':checked');
            courseItemCheckboxes.prop('checked', isChecked);
            renderCheckAllSubmitButton();
        });

        courseItemCheckboxes.change(function() {
            var isChecked = courseItemCheckboxes.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isChecked);
            renderCheckAllSubmitButton();
        });


        containerForm.on('submit', function (e) {
          var isSubmitable = !checkAllSubmitButton.is(':disabled');
          if (!isSubmitable) {
            e.preventDefault();
          }
        });


        function renderCheckAllSubmitButton() {
            var CountChecked = $('input[name="courseIds[]"]:checked').length;
            if (CountChecked > 0) {
                checkAllSubmitButton.attr('disabled', false);
            } else {
                checkAllSubmitButton.attr('disabled', true);
            }             
        } 
});
</script>