<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <h3 class="text-center">📖 DANH SÁCH KHÓA HỌC ĐÃ XÓA</h3>
    <a href="/me/stored/courses" style="font-size: 20px" class="btn btn-success">🔙Quay lại danh sách khóa học</a>

    <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkAll">
        <label class="form-check-label" for="checkAll">
          Chọn tất cả
        </label>
    </div>
      <select class="custom-select mr-sm-2 check-select-all-options" name="action" required>
          <option value="">Chọn chức năng</option>
          <option value="restore">Khôi phục</option>                                                             
          <option value="forceDelete">Xóa vĩnh viễn</option>
      </select>

      <button class="btn btn-primary btn-sm check-all-sub-btn disabled" style="font-size: 19px">Thực hiện</button>
    </div>    
    
    <table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">📋</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian học</th>
            <th scope="col" colspan="4">Thời gian xóa</th>
        </tr>
    </thead>
        
        {{#each courses}}
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
              </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>                         
            <td>{{this.totalTime}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
                <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            </td>
            <td>
                <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="7" class="text-center">Thùng rác trống
                <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</form>



<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa khóa học</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động sau đây sẽ xóa vĩnh viễn khóa học khỏi hệ thống. Bạn có chắc chắn muốn tiếp tục?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!--Hiden delete form--}}
<form name="restore-course-form" method="POST"></form>
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var restoreForm = document.forms['restore-course-form'];
        var restoreButtons = $('.btn-restore');
        var deleteButton = document.getElementById('btn-delete-course');
        var deleteForm = document.forms['delete-course-form'];

        var checkboxAll = $('#checkAll');
        var courseItemCheckboxes = $('input[name="courseIds[]"]');
        var checkAllSubmitButton = $('.check-all-sub-btn');
        var containerForm = document.forms['container-form'];

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        deleteButton.onclick = function() {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Hành động xử lý nút khôi phục
        restoreButtons.click(function(e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit(); 
        });

        checkboxAll.on('change', function() {
            var isChecked = $(this).is(':checked');
            courseItemCheckboxes.prop('checked', isChecked);
            renderCheckAllSubmitButton();
        });

        courseItemCheckboxes.change(function() {
            var isChecked = courseItemCheckboxes.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isChecked);
            renderCheckAllSubmitButton();
        });


        checkAllSubmitButton.on('submit', function (e) {
          var isSubmitable = !$(this).hasClass('disabled');
          if (!isSubmitable) {
            e.preventDefault();
          }
        });


        function renderCheckAllSubmitButton() {
            var CountChecked = $('input[name="courseIds[]"]:checked').length;
            if (CountChecked > 0) {
                checkAllSubmitButton.removeClass('disabled');
            } else {
                checkAllSubmitButton.addClass('disabled');
            }             
        } 
});
</script>